.main {
  width: 1920px;
  height: 1080px;
  background-color: #fff;
}

.intro {
  display: flex;
  width: 1000px;
  height: 167px;
  margin: 200px 66px 0 500px;
  font-family: NotoSansCJKKR;
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -1.2px;
  text-align: left;
  color: #000;
}

.span {
  width: 200px;
  height: 35px;
  margin: 0 37px 15px 15px;
  font-family: Pretendard;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.93;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.sidebox_pink{
  width: 10px;
  height: 35px;
  margin: 0 15px 15px 0;
  background-color: #ff3363;
}

.sidebox_yellow{
  width: 10px;
  height: 35px;
  margin: 0 15px 15px 0;
  background-color: #ffc233;
}

.box {
  width: 300px;
  height: 240px;
  margin: 0 20px 131px 0px;
  padding: 20px 82px 21px 0;
  border-radius: 10px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.subtext {
  width: 100px;
  height: 49px;
  margin: 0 0 0 15px;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.iconbox {
  width: 76px;
  height: 76px;
  margin: 24px 117px 0 15px;
  padding: 8px;
  border-radius: 100px;
  background-color: #ebf0f5;
  text-align: center;
}

.icon {
  width: 72px;
  height: 72px;
  object-fit: contain;
}

.orbit {
  width: 800px;
  height: 500px;
  margin: 66px 61px 0 0;
  padding: 6px 37px 50px 0;
  object-fit: contain;
  text-align: left;
}