.span {
    width: 200px;
    height: 35px;
    margin: 0 37px 15px 15px;
    font-family: Pretendard;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.93;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  
.box {
width: 400px;
height: 300px;
margin: 100px 20px 131px 760px;
padding: 20px 82px 21px 0;
border-radius: 10px;
box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
background-color: #fff;
}

.sidebox_pink{
width: 10px;
height: 35px;
margin: 0 15px 15px 0;
background-color: #ff3363;
}

.sidebox_yellow{
width: 10px;
height: 35px;
margin: 0 15px 15px 0;
background-color: #ffc233;
}

.input{
    margin: 20px 0 0 130px;
    text-align: center;
}

.link{
    margin: 0 0 0 5px;
    text-align: center;
}